/* для формирования значков сортировки в таблицах */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\f15d";
}

a.desc:after {
    content: "\f15e";
}

.select2-container--bootstrap .select2-selection {
    font-family: PTSansAPOA !important;
}
.select2-search__field {
    font-family: PTSansAPOA !important;
}
